<ion-header>
  <ion-toolbar>
    <ion-title class="titleLogo">
      <div class="divHeader">
        <img src="assets/img/LogoSinFondo.png" alt="Logo de la app">
        <span>KIAGO</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      A dónde has ido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">

  <ion-card class="contenedor-card">
    <ion-card-header>
      <ion-card-title>Favoritos</ion-card-title>
    </ion-card-header>

    <ion-card-content class="contenedor-scroll">
      <p *ngIf="listaFavoritosCarga.length === 0">No hay favoritos para mostrar.</p>

      <ion-list class="item-color">
        <ion-item *ngFor="let favorito of listaFavoritosCarga">
          <ion-label>{{ favorito.nombre }}</ion-label>
          <ion-label>{{ favorito.id }}</ion-label>
          <ion-chip shape="round" (click)="detalle(favorito.nombre, listaFavoritos)">Ir al lugar<ion-icon
              name="enter-outline"></ion-icon></ion-chip>
          <ion-chip shape="round" (click)="eliminarFavorito(favorito.nombre, listaFavoritos)">Eliminar favorito<ion-icon
              name="close-circle-outline"></ion-icon></ion-chip>
        </ion-item>
        <ion-button *ngIf="listaFavoritos.length > listaFavoritosCarga.length" horizontal="end"
          (click)="cargarMasFavoritos()">Cargar más</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card class="contenedor-card">
    <ion-card-header>
      <ion-card-title>Comentarios</ion-card-title>
    </ion-card-header>

    <ion-card-content class="contenedor-scroll">
      <p *ngIf="listaComentariosCarga.length === 0">No hay favoritos para mostrar.</p>

      <ion-list class="item-color">

        <ion-item *ngFor="let comentario of listaComentariosCarga">
          <ion-label>
            <h2 class="item-titulo">{{ comentario.autor }}</h2>
            <p class="">Este texto es demasiado largo y quiero que se corte con puntos suspensivos
              Este texto es demasiado largo y quiero que se corte con puntos suspensivos</p>
          </ion-label>

          <div class="acciones">
            <ion-chip shape="round">Editar<ion-icon name="enter-outline"></ion-icon></ion-chip>
            <ion-chip shape="round"
              (click)="eliminarComentario(comentario.id, comentario.autor, listaComentarios)">Eliminar<ion-icon
                name="close-circle-outline"></ion-icon></ion-chip>
          </div>
        </ion-item>

        <ion-button *ngIf="listaComentarios.length > listaComentariosCarga.length" horizontal="end"
          (click)="cargarMasComentarios()">Cargar más</ion-button>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>