<ion-header class="ion-header">
  <ion-toolbar class="ion-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-end">Recorrido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngIf="mostrarInfo" class="info-modal">
    <div class="info-content">
      <strong>Destino:</strong> {{ direccionDestino }}<br>
      <strong>Distancia:</strong> {{ distanciaKm | number:'1.1-2' }} km<br>
      <strong>Duración estimada:</strong> {{ duracionTexto }}
    </div>
  </div>
  <div id="map" class="map"></div>
</ion-content>

