<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
     <ion-buttons slot="end">
      <ion-button expand="block" fill="outline">FILTRO</ion-button>

      <ion-item>
        <ion-label>Tipo</ion-label>
        <ion-select [(ngModel)]="filtroSeleccionado" interface="popover" (ionChange)="cargarVista()">
          <ion-select-option value="architecture">Arquitectura</ion-select-option>
          <ion-select-option value="cultural">Cultural</ion-select-option>
          <ion-select-option value="historic">Histórico</ion-select-option>
          <ion-select-option value="natural">Naturaleza</ion-select-option>
          <ion-select-option value="foods">Comida</ion-select-option>
          <ion-select-option value="monuments">Monumentos</ion-select-option>
          <ion-select-option value="religion">Religioso</ion-select-option>
          <ion-select-option value="museums">Museos</ion-select-option>
          <ion-select-option value="urban_environment">Ambiente urbano</ion-select-option>
          <ion-select-option value="interesting_places">Lugares interesantes</ion-select-option>
        </ion-select>
      </ion-item>
      
    </ion-buttons>

  </ion-toolbar>


  <ion-title>Lista de interes cerca de ti</ion-title>





  <ion-searchbar placeholder="Busqueda X Nombre"></ion-searchbar>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="../../assets/img/CasaRosada.jpg" alt="CasaRosada"></ion-img>
    <ion-card-header>
      <ion-card-title>Casa Rosada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p> Visita la Casa Rosada, la sede del Poder Ejecutivo de la República Argentina, y está ubicada en el
        centro-histórico de la ciudad capital federativa de Buenos Aires</p>
      <ion-button expand="block" fill="clear">Ver Más</ion-button>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-img src="../../assets/img/Bombonera.jpg" alt="Bombonera"></ion-img>.
    <ion-card-header>
      <ion-card-title>Bombonera</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Visita el legendario estadio La Bombonera, hogar del amado Boca Juniors</p>
    </ion-card-content>
    <ion-button fill="clear">Ver Más</ion-button>
  </ion-card>



  <ion-card>
    <ion-img src="../../assets/img/TeatroColon.jpg" alt="Bombonera"></ion-img>.
    <ion-card-header>
      <ion-card-title>Teatro Colón</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Visita el legendario teatro Colón
    </ion-card-content>
    <ion-button fill="clear">Ver Más</ion-button>
  </ion-card>



  <ion-card>
    <ion-img src="../../assets/img/Floralis.jpg" alt="Floralis"></ion-img>.
    <ion-card-header>
      <ion-card-title>Floralis Genérica</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Deslumbrate con esta maravillosa escultura que es el emblema de la Ciudad
    </ion-card-content>
    <ion-button fill="clear">View</ion-button>
  </ion-card>








</ion-content>