<ion-header>
  <ion-toolbar>
    <ion-title class="titleLogo">
      <div class="divHeader">
        <img src="assets/img/LogoSinFondo.png" alt="Logo de la app">
        <span>KIAGO</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title class="tituloVariado">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="d-flex-center">
      <form [formGroup]="form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <app-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email" label="Correo">
        </app-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">
            correo requerido
          </div>
          <div *ngIf="form.controls.email.errors?.['email']">
            Ingrese correo valido
          </div>
        </div>

        <app-input icon="lock-closed-outline" [control]="form.controls.password" type="password"
          label="Contraseña"></app-input>
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.password.errors?.['required']">
            password requerida
          </div>

        </div>
        <ion-button expand="block" shape="round" class="submit" type="submit" [disabled]="form.invalid">
          Registrarse

          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>

        <ion-button shape="round" expand="block" routerLink="/">
          <ion-icon name="arrow-undo-circle-outline"></ion-icon>
          Volver
        </ion-button>

      </form>
    </div>
  </ion-card>
</ion-content>