.contenedor-scroll {
  max-height: 50vh;
  /* px para un valor determinado / vh para que sea adaptativo */
  overflow-y: auto;
}

.contenedor-card {
  width: 95%;
  max-width: 800px;
  margin: 50px auto;
  margin-bottom: 75px;
}

.item-titulo {
  font-weight: bold;
  font-size: 16px;
  max-width: 80%;
}

.comentario-detalle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.acciones {
  display: flex;
  gap: 4px;
}