img {
    width: 100%;
    max-width: 75px;
    border-radius: 10px;
}

.divHeader {
    display: flex;
    align-items: center;
    background-color: #61b151;
    font-size: 32px;
    font-weight: bold
}

.titleLogo {
    width: 100%;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
}

ion-toolbar,
ion-card,
ion-card-content,
ion-card-header,
ion-list,
iont-item {
  --background: #3a7f7a;
  background-color: #3a7f7a;
}

ion-content {
    --background: #c7e2dd;
}

* {
  color: #dddddd;
}

ion-button {
  --background: #61b151;
}

h3 {
  font-weight: bold;
  border-bottom: 2px solid;
  padding-bottom: 15px;
}

